.DS_Store

_results/

data/*/repos/
data/*/xrepos/

data/*/parsedfiles/
data/*/extracted/
data/*/datafolds/

/libs/

_downloads/
python/hdlp/*.cf

python/hdlp/_Alert.txt
python/hdlp/_Log.txt
python/hdlp/vivado.jou
python/hdlp/vivado.log
python/hdlp/vivado_*
python/hdlp/.Xil/*